<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<div th:fragment="sidebarMenuAtleta">
	<aside>
		<div id="sidebar" class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li><a class="" th:href="@{/academia/atleta/atleta/index}"> <i class="fa fa-home"></i>
						<span>Início</span>
				</a></li>

				

				<li class="sub-menu"><a href="javascript:;" class=""> <i
						class="fa fa-search"></i> <span>Visualizar</span> <span
						class="menu-arrow arrow_carrot-right"></span>
				</a>
				<ul class="sub">
						<li><a class="" th:href="@{/academia/visualizar/perfil}">Meus Dados</a></li>
						<li><a class="" th:href="@{/academia/visualizar/treino}"><span>Meu Treino</span></a></li>
					</ul>
				</li>

				<li class=""><a th:href="@{/logout}" class=""> <i
						class="fa fa-plus-circle"></i> <span>Sair</span> <span
						class="menu-arrow arrow_carrot-right"></span>
				</a>
				</li>
			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
</div>
</html>