<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<div th:fragment="sidebarMenuAtleta">
	<aside>
		<div id="sidebar" class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li><a class="" th:href="@{/atleta/atleta/index}"> <i class="fa fa-home"></i>
						<span>Início</span>
				</a></li>

				

				<li class="menu"><a th:href="@{/atleta/atleta/treino}" class=""> <i
						class="fa fa-search"></i> <span>Ver Treino</span> <span
						class="menu-arrow arrow_carrot-right"></span>
				</a>
				</li>

				<li class="sub-menu"><a href="javascript:;" class=""> <i
						class="fa fa-plus-circle"></i> <span>Mais</span> <span
						class="menu-arrow arrow_carrot-right"></span>
				</a>
					<ul class="sub">
						<li><a class="" th:href="@{/profile.html}">Meus Dados</a></li>
						<li><a class="" th:href="@{/logout}"><span>Sair</span></a></li>
					</ul></li>

			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
</div>
</html>